* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.day {
    background-color: #f9f9f9;
    color: #0e0e0e;
}

.night {
    background-color: #161616;
    color: #f9f9f9;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-contents * {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.footer-contents p {
    border-right: 2px lightgray solid;
}

.footer a:active, footer a:visited{
    color: gray;
}

.page {
    position: absolute;
    padding: 0px;
    margin: 0;
    width: 100%;
    /* background-color: rgb(237, 235, 233); */
}

.sidebar {
    position: fixed;
    height: 100%;
    z-index: 100;
    width: 0px;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-x: hidden;
    backdrop-filter: blur(10px);
}

.day .sidebar {
    background-color: #ffffffc7;
    color: #0e0e0e;
}

.night .sidebar {
    background-color: #131313c7;
    color: #f9f9f9;
}

.closed {
    width: 0px;
}

.opened {
    width: 450px;
}

.sidebar .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
 
}

.day button img {
    filter: none;
}

.night button img {
    filter: invert(1);
}

#open-menu-button {
    position: fixed;
    z-index: 99;
}

.menu-button {
    margin: 15px;
    border: none;
    background-color: transparent;
}

.menu-button img {
    height: 40px;
    width: auto;
}

.sidebar button img {
    height: auto;
    width: 40px;
}

#close-menu-button {
    margin: 25px;
}

.sidebar #app-title {
    margin: 15px;
}

.options-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.option {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;

}

.option:last-of-type {
    border: none;
}

.story-title{
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    font-size: 7vh;
    position: sticky;
    font-weight: 800;
    text-align: center;
    min-width: 20vw;
    max-width: fit-content;
    outline: none;

    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
}

#chapters-container {
    position: relative;
    width: 100%;
}

.chapter {
    border-radius: 20px;
    font-size: 18pt;
    /*background-color: rgb(255, 201, 181);*/
    border: 3px solid;
    margin: 50px 70px;
    padding: 30px;
    overflow: hidden;
    min-height: fit-content;
    max-height: max-content;
    position: relative;
    animation: new-chapter 1s ease-in-out;
    transition: height 0.5s ease;
}

.fold-button {
    display: flex;
    float: left;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.fold-button img {
    opacity: 0.5;
    transform: rotate('180deg');
}

.folded {
    transition: height 0.5s ease;
}

.folded .fold-button {
    transform: rotateX(180deg);
}

.folded .chapter-button {
    display: none; height: 0;
}

.folded .chapter-header {
    white-space: nowrap;
}

.folded .chapter-text {
    display: none; height: 0;
}

.folded .drag-button {
    display: flex;
}

.folded .subchapter {
    display: none; height: 0;
}

.folded .subchapter * {
    display: flex;
}

.drag-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: grab;
    width: min-content;
    height: min-content;
}

.drag-button img {

}

.chapter-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    font-weight: 800;
    min-width: 20%;
    max-width: fit-content;
    padding: 0px 30px 10px 30px;
    margin-left: 30px;
}

.chapter-text {
    font-weight: 400;
    padding: 20px;
    margin: 10px;
}

.chapter-text img {
    max-width: 100%;
}

.chapter .chapter-header, .chapter .chapter-text{
    outline: none;
    overflow: auto;
}

.chapter-button-container {
    display: flex;
    justify-content: flex-end;
    overflow-x: overlay;
}

.chapter-button {
    border: none;
    border-radius: 5px;
    /*background-color: #ffffff6a;*/
    background-color: transparent;
    padding: 9px;
    margin: 5px;
    opacity: 0.7;
}

.chapter-button:hover {
    /* background-color: rgba(220, 145, 118, 0.548); */
    background-color: rgba(0, 0, 0, 0.088)

}

.chapter-button:active {
    transform: scale(0.8);
}

.chapter-button img{
    height: 25px;
    width: auto;
}

.subchapter {
    display: flex;
    flex-direction: row;
    overflow-x: overlay;
    align-items: flex-start;
}

.subchapter .chapter {
    min-width: 30%;
    max-width: 70%;
    margin: 5px;
}

*::placeholder {
    color: aqua;
}

.message {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto auto;
    /*background-color: rgba(240, 248, 255, 0.29);*/
    background: radial-gradient(#e66464, #9198e5a7, #ffffff00);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;

    animation: appear 1s ease-in-out, disappear 2s ease-in-out;
}

#message-empty {
    position: absolute;
    height: 100%;
    text-align: center;
    visibility: hidden;
    padding-top: 10px;
    width: 100%;
}

.info-empty{
    text-align: center;
    color: rgb(141, 141, 141);
    text-decoration: underline;
    padding-top: 20px;
}

.message p{
    padding: 30px;
    background-color: #e66464;
}

.to-be-removed {
    animation: disappear 500ms normal;
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes new-chapter {
    0% {
    transform: scale(0.1);
    }
    25% {
    opacity: 1;
    transform: scale(1);
    }
    100% {
    opacity: 1;
    transform: scale(1);
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #00000015;
}

::-webkit-scrollbar-thumb {
    background: #ffffff71;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff9a;
}

::-webkit-scrollbar-corner {
    display: none;
}

@media only screen and (max-width: 768px) {

    .closed {
        width: 0px;
    }

    .opened {
        width: 100%;
    }

    .menu-button img {
        height: 35px;
        width: auto;
    }
    
    .folded .chapter-text {
        display: none; height: 0;
    }

    .story-title{
        margin: 0 auto 20px auto;
        padding: 40px 40px 0 40px;
        font-size: 32pt;
    }
    
    .chapter {
        border-radius: 10px;
        font-size: 14pt;
        /*background-color: rgb(255, 201, 181);*/
        border: 2px solid;
        margin: 10px 20px;
        padding: 20px;
        overflow: hidden;
        position: relative;
        animation: new-chapter 1s ease-in-out
    }
    
    .chapter-header{
        min-width: 50%;
        padding: 5px;
        margin-left: 30px;
    }
    
    .chapter-text {
        padding: 5px;
        margin-top: 15px;
    }

    .chapter-button {
        position: relative;
        border: none;
        margin: 0px;
    }
    
    .chapter-button img{
        height: 20px;
        width: auto;
    }
    
    .subchapter {
        flex-direction: column;
        align-items: flex-start;
    }

    .subchapter .chapter {
        min-width: 70%;
        max-width: 100%;
        margin: 5px;
    }
    
    #message-empty {
        position: fixed;
        display: flex;
        height: 100%;
        text-align: center;
        visibility: hidden;
        padding-top: 10px;
        justify-content: center;
    }

    .info-empty {
        position: relative;
        width: 80%;
        text-align: center;
        color: rgb(141, 141, 141);
        text-decoration: underline;
    }

}

@media print {
    .chapter-button-container {
        display: none; height: 0;
    }

    .sidebar {
        display: none; height: 0;
    }

    #open-menu-button {
        display: none; height: 0;
    }

    .chapter {
        font-size: 14pt;
    }

    .subchapter {
        flex-direction: column;   
    }
}